@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text-color: #18113c;
  --secondary-text-color: #5c5776;
  --white-color: #ffffff;
  --danger-color: #ff6347;
  --primary-fill-color: #754ffe;
  --secondary-fill-color: #f5f4f8;
  --light-gray: #dbd8e9;
  --deep-gray: #a8a3b9;
}
